{% extends "base.html" %}
{% block content %}
	{% include "nav.html" %}
	<div class="pure-u-1">
		<h2>
			<a href="{{ url_for('course', cid=course['cid']) }}">{{ course['name'] }}</a>
			:: {{ assignment['name'] }}
		</h2>
		<em>
			You are
			{{ 'an' if config['LEVELS'][entry['level']][0] in 'aeiouAEIOU' else 'a' }}
			{{ config['LEVELS'][entry['level']] }} in this course.
		</em>
		<hr>
	</div>
	<div class="pure-u-1-2">
		{% if submittable %}
			<h3>Submit</h3>
			<form class="pure-form" action="{{ url_for('submit', aid=assignment['aid']) }}" method="POST" enctype="multipart/form-data">
				<input type="file" name="submission" text="stuff"><br>
				<input type="submit">
			</form>
		{% endif %}
		{% if grades %}
			<h3>Grades</h3>
			<table style="width: 100%" class="pure-table pure-table-bordered pure-table-striped">
				<thead>
					<tr>
						{% if entry['level'] > 0 %}
							<th>Owner</th>
						{% endif %}
						<th>Score</th>
						<th>Submitted</th>
						<th>Message</th>
						{% if entry['level'] > 1 %}
							<th>Actions</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for grade in grades %}
						<tr id="grade{{ grade['G.gid'] }}">
							{% if entry['level'] > 0 %}
								<td>{{ grade['U.username'] }}</td>
							{% endif %}
							<td>{{ grade['G.score'] }}</td>
							<td>{{ grade['G.timestamp']|datetime }}</td>
							<td>{{ grade['G.message'] }}</td>
							{% if entry['level'] > 1 %}
								<td><a href="javascript:changeGrade('grade{{ grade['G.gid'] }}', 'edit')">edit</a></td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
	<div class="pure-u-1-2">
		<h3>Information</h3>
		<p>Due: <time>{{ assignment['due']|datetime }}</time></p>
		<p><em>Possible score: {{ assignment['points'] }}</em></p>
		{{ assignment['body']|markdown }}
	</div>
{% endblock %}
