{% extends "base.html" %}
{% block content %}
	{% include "nav.html" %}
	<div class="pure-u-1">
		<h2>{{ g.course['name'] }}</h2>
		<hr>
	</div>
	{% if grades %}
		<div class="pure-u-1-3">
			<h3>Grades</h3>
			<table style="width: 100%" class="pure-table pure-table-bordered pure-table-striped">
				<thead>
					<tr>
						<th>Owner</th>
						<th>Course</th>
						<th>Assignment</th>
						<th>Score</th>
						<th>Possible</th>
					</tr>
				</thead>
				<tbody>
					{% for grade in grades %}
						<tr>
							<td>{{ grade['U.username'] }}</td>
							<td>{{ grade['name'] }}</td>
							<td>{{ grade['GA.name'] }}</td>
							<td>{{ grade['GA.score'] }}</td>
							<td>{{ grade['GA.points'] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	{% if assignments %}
		<div class="pure-u-1-3">
			<h3>Assignments</h3>
			<ul>
				{% for assignment in assignments %}
					<li>
						<a href="{{ url_for('assignment', aid=assignment['aid']) }}">
							{{ assignment['name'] }}
							{% if assignment['due'] %}
								({{ assignment['due']|datetime }})
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if messages %}
		<div class="pure-u-1-3">
			<h3>Messages</h3>
			{% for message in messages %}
				<h4>{{ message['title'] }}</h4>
				<time>{{ message['timestamp']|datetime }}</time>
				{{ message['body']|markdown }}
				{% if not loop.last %}
					<hr>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
