{% extends "base.html" %}
{% block content %}
	{% include "nav.html" %}
	<div class="pure-u-1">
		<h2>{{ course['name'] }}</h2>
		<em>You are level {{ entry['level'] }} in this course.</em>
		<hr>
	</div>
	<div class="pure-u-1-3">
		<h3>Grades</h3>
		{% if grades %}
			<table style="width: 100%" class="pure-table pure-table-bordered pure-table-striped">
				<thead>
					<tr>
						{% if entry['level'] > 0 %}
							<th>Owner</th>
						{% endif %}
						<th>Assignment</th>
						<th>Score</th>
						<th>Possible</th>
					</tr>
				</thead>
				<tbody>
					{% for grade in grades %}
						<tr>
							{% if entry['level'] > 0 %}
								<td>{{ grade['U.username'] }}</td>
							{% endif %}
							<td>
								<a href="{{ url_for('assignment', aid=grade['GA.aid']) }}">
									{{ grade['GA.name'] }}
								</a>
							</td>
							<td>{{ grade['GA.score'] }}</td>
							<td>{{ grade['GA.points'] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
	<div class="pure-u-1-3">
		<h3>Assignments</h3>
		{% if assignments %}
			<ul>
				{% for assignment in assignments %}
					<li>
						<a href="{{ url_for('assignment', aid=assignment['aid']) }}">
							{{ assignment['name'] }}
							{% if assignment['due'] %}
								({{ assignment['due']|datetime }})
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="pure-u-1-3">
		<h3>Messages</h3>
		{% if messages %}
			{% for message in messages %}
				<h4>{{ message['title'] }}</h4>
				<time>{{ message['timestamp']|datetime }}</time>
				{{ message['body']|markdown }}
				{% if not loop.last %}
					<hr>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	{% if entry['level'] >= 2 %}
		<div class="pure-u-1-3">
			<h3>Admin</h3>
			<ul>
				<li><a href="{{ url_for('assignment_new', cid=course['cid']) }}">New Assignment</a></li>
				<li>New Message</li> <!-- TODO -->
				<li>Enroll User</li> <!-- TODO -->
			</ul>
		</div>
	{% endif %}
{% endblock %}
