{% extends "base.html" %}
{% block content %}
	<nav class="pure-u-1">
		<div id="nav" class="pure-menu pure-menu-open pure-menu-horizontal">
			<ul id="nav-items">
				<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
				{% if courses %}
					{% for course in courses %}
						<li>
							<a href="{{ url_for('dashboard', course=course['name']) }}">
								{{ course['displayname'] }}
							</a>
						</li>
					{% endfor %}
				{% endif %}
				<li><a href="{{ url_for('logout') }}">{{ g.user['name'] }}</a></li>
			</ul>
		</div>
	</nav>
	{% if grades %}
		<div id="grades" class="pure-u-1-2">
			<h2>Grades</h3>
			{% for group in grades %}
				<h3>{{ grades[group][0]['C.displayname'] }}</h3>
				<table class="pure-table pure-table-bordered pure-table-striped">
					<thead>
						<tr>
							<th>Owner</th>
							<th>Course</th>
							<th>Assignment</th>
							<th>Score</th>
							<th>Possible</th>
						</tr>
					</thead>
					<tbody>
						{% for grade in grades[group] %}
							<tr>
								<td>{{ grade['U.username'] }}</td>
								<td>{{ grade['C.displayname'] }}</td>
								<td>{{ grade['GA.name'] }}</td>
								<td>{{ grade['GA.score'] }}</td>
								<td>{{ grade['GA.points'] }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
		</div>
	{% endif %}
	{% if assignments %}
		<div id="assignments" class="pure-u-1-2">
			<h2>Assignments</h3>
			{% for group in assignments %}
				<h3>{{ assignments[group][0]['C.displayname'] }}</h3>
				<ul>
					{% for assignment in assignments[group] %}
						<li>{{ assignment['name'] }}</li>
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
