#container {
	display: block;
	width: 60em;
	margin: 2em auto;
}

#container > div {
	box-sizing: border-box;
	padding: 1em;
}

#messages {
	padding: 0;
	list-style: none;
	text-align: center;
}

nav {
	text-align: center;
}

#login {
	margin: 6em 0;
	text-align: center;
	vertical-align: middle;
}

#login div {
	display: inline-block;
}
